* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-right: 1rem;
}

.product-list ul li {
  padding: 0.5rem 0;
}

.products {
  text-align: center;
}

.products ul li p {
  padding: 1rem 0;
}
